rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    match /tasks/{id} {
      allow read, write: if true;
    }
    
    match /users/{userId}/tasks/{id} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /{path=**}/tasks/{taskId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}